# Python
__pycache__/
dist/
.eggs/
*.egg-info/

# uv
.venv/
.python-version

# IDEs
.cursor/
.vscode/
.idea/
.kiro/

# Project specific
logs/
.DS_Store

benchmark/outputs/
unilab/algos/torch/rsl_rl

third-party
temp/
agent/
